logs/
temp/
*.log
*.pyc
__pycache__/
.vscode/
backend/.vscode
backend/env/         
backend/src/data/     
backend/src/logs/         
backend/.env
backend/.env.example
backend/.gitignore
backend/Modelfile